a {
  text-decoration: none;
  color: black;
}

a.active {
  background-color: #ff0000;
}

.nav-bar {
  border-bottom: 1px solid #cccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .nav-bar {
    padding: 0px 3rem;
  }
}
@media screen and (max-width: 900px) {
  .nav-bar {
    padding: 0px 2rem;
  }
}
@media screen and (max-width: 678px) {
  .nav-bar {
    padding: 1rem;
  }
}

.nav-bar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style-type: none;
}

.nav-bar__mobile-button {
  display: none;
}

.nav-bar__mobile {
  display: none;
}
@media screen and (max-width: 900px) {
  .nav-bar__mobile-button {
    display: block;
  }
  .nav-bar__list {
    display: none;
  }
}
