<div class="skeleton-loading">
  <div class="skeleton-loading__item">
    <div class="skeleton-loading__image"></div>
    <div class="skeleton-loading__content">
      <div class="skeleton-loading__title"></div>
      <div class="skeleton-loading__description"></div>
    </div>
  </div>
  <div class="skeleton-loading__item">
    <div class="skeleton-loading__image"></div>
    <div class="skeleton-loading__content">
      <div class="skeleton-loading__title"></div>
      <div class="skeleton-loading__description"></div>
    </div>
  </div>
  <div class="skeleton-loading__item">
    <div class="skeleton-loading__image"></div>
    <div class="skeleton-loading__content">
      <div class="skeleton-loading__title"></div>
      <div class="skeleton-loading__description"></div>
    </div>
  </div>
  <div class="skeleton-loading__item">
    <div class="skeleton-loading__image"></div>
    <div class="skeleton-loading__content">
      <div class="skeleton-loading__title"></div>
      <div class="skeleton-loading__description"></div>
    </div>
  </div>

  <div class="skeleton-loading__item">
    <div class="skeleton-loading__image"></div>
    <div class="skeleton-loading__content">
      <div class="skeleton-loading__title"></div>
      <div class="skeleton-loading__description"></div>
    </div>
  </div>
  <div class="skeleton-loading__item">
    <div class="skeleton-loading__image"></div>
    <div class="skeleton-loading__content">
      <div class="skeleton-loading__title"></div>
      <div class="skeleton-loading__description"></div>
    </div>
  </div>
  <div class="skeleton-loading__item">
    <div class="skeleton-loading__image"></div>
    <div class="skeleton-loading__content">
      <div class="skeleton-loading__title"></div>
      <div class="skeleton-loading__description"></div>
    </div>
  </div>
  <div class="skeleton-loading__item">
    <div class="skeleton-loading__image"></div>
    <div class="skeleton-loading__content">
      <div class="skeleton-loading__title"></div>
      <div class="skeleton-loading__description"></div>
    </div>
  </div>
</div>
